@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-button {
  @apply rounded-lg border border-transparent bg-black px-5 py-3 text-white transition-all duration-200 ease-in-out hover:opacity-50;
}

.custom-button-outlined {
  @apply rounded-lg border border-black bg-white px-5 py-3 text-black transition-all duration-200 ease-in-out hover:opacity-50 dark:border-slate-700 dark:bg-default-black dark:text-slate-300;
}

.custom-input {
  @apply w-full rounded-lg border border-neutral-300 bg-white p-3 text-black outline-none focus:border-black dark:border-slate-700 dark:bg-default-black dark:text-white dark:focus:border-blue-500;
}

.truncate-text {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-shadow-blue {
  text-shadow:
    0px 0px,
    1px 1px 14px #255fe0;
}

.text-shadow-neutral {
  text-shadow:
    0px 0px,
    1px 1px 14px #c3c3c3;
}
